.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f5efef;
}

.dark-mode {
    -fx-background-color: #1c1c1c;
}

.text-field {
    -fx-background-color: #eeeeee;
    -fx-text-fill: #212121;
}

.dark-mode .text-field {
    -fx-background-color: #242424;
    -fx-text-fill: #eaeaea;
}

.button {
    -fx-background-color: #d62839;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #ef476f;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#darkModeToggle {
    -fx-background-color: transparent;
    -fx-border-color: #d62839;
    -fx-border-width: 2px;
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
    -fx-text-fill: #d62839;
}

.dark-mode #darkModeToggle {
    -fx-border-color: #ef476f;
    -fx-text-fill: #ef476f;
}